@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root {
  --primary-one: #024059;
  --primary-two: #f24405;
  --secondary-one: #375ca6;
  --primary-font-one: 'Titillium Web', sans-serif;
  --page-container-width: 90%;
  --warning: #a62b1f;
  --box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.1),
    -1px -3px 30px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  width: 150px;
}
/* TO BE DELETED */
.test-container {
  max-width: 400px;
  margin: 4rem auto;
}
.test-form {
  border-radius: 0.5rem;
  margin-bottom: 5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 5px;
}

.page-container {
  width: var(--page-container-width);
  margin: auto;
}
.nav-center {
  /* border: 1px solid; */
  max-width: 900px;
  margin: auto;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.top-nav-ul {
  display: none;
}

.top-nav-profile-img {
  display: none;
}

.mobile-nav-ul {
  display: block;
}

.nav-log-out-btn {
  /* border: none; */
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.mobile-nav-link {
  background-color: var(--primary-one);
  display: block;
  margin-top: 1px;
  color: #fff;
  text-decoration: none;
  font-family: var(--primary-font-one);
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  /* font-style: italic; */
}
.mobile-nav-ul {
  background-color: #fff;
  /* border: 1px solid; */
  z-index: 1;
  margin: 0 1.2rem;
  /* padding: 0rem 0.4rem; */
  position: absolute;
  right: 0;
  top: 7.5rem;
  left: 0;
  list-style: none;
  transform: translateX(calc(-100% - 1.2rem));
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.show-nav {
  transform: translateX(0);
}

.toggle-nav {
  min-width: 60px;
  min-height: 20px;
  border: none;
  background-color: var(--primary-one);
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle-nav:active {
  transform: scale(80%);
}

.page-header {
  text-align: center;
  margin: 1rem 0;
}
.page-header h3 {
  font-family: var(--primary-font-one);
  font-weight: 300;
  font-size: 2rem;
}
.section-header {
  text-align: center;
  margin: 1rem 0;
}
.section-header h3 {
  font-family: var(--primary-font-one);
  font-weight: 300;
  font-size: 1.4rem;
}

.sign-in-section {
  /* border: 1px solid; */
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.sign-in-box {
  height: 250px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
}

.sign-in-icon {
  font-size: 3rem;
  color: var(--primary-one);
}
/* as the screen gets bigger */
@media screen and (min-width: 1100px) {
  .top-nav-profile-img {
    position: absolute;
    right: -4.5rem;
    top: -8px;
    display: block;
    /* border: 1px solid; */
    width: 55px;
    height: 55px;
    border-radius: 50%;
    /* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1), -1px -2px 5px rgba(0, 0, 0, 0.1); */
  }
}
@media screen and (min-width: 700px) {
  .top-nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
  }
  /* padding always on the li to stop the border overflow  */
  .top-nav-li {
    /* background-color: red; */
    margin: 0 4px;
    padding: 0.5rem;
    border-radius: 4px;
    border: 0.1px solid var(--primary-one);
  }
  .mobile-nav-ul {
    display: none;
  }
  .top-nav-ul {
    display: flex;
    list-style: none;
    /* border: 1px solid; */
    position: relative;
  }

  .links-container {
    background-color: red;
  }
  .toggle-nav {
    display: none;
  }

  /* ==========  SIGNIN SECTION =========== */

  .sign-in-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 4rem;
  }
}

/* ==========  PUBLIC SIGNUP PAGE =========== */
.sign-up-in-section {
  /* border: 1px solid; */
  /* padding: 1rem; */
  margin-top: 1.5rem;
}

.page-form-container {
  max-width: 422px;
  margin: 8rem auto 0 auto;
}
/* ==========  PUBLIC SIGNUP PAGE =========== */
.form {
  /* border-radius: 0.2rem; */
  padding: 2rem;
  box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.1), -1px -3px 30px rgba(0, 0, 0, 0.1);
}
.reg-form {
  padding: 4rem;
  /* background-color: #062f59be; */
}

.form-input {
  width: 100%;
  height: 35px;
  font-size: 1.3rem;
  font-family: var(--primary-font-one);
  padding: 1rem;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  /* border: 0.5px solid var(--primary-two); */
  border-radius: 10px;
  /* border: none;
  border-bottom: 1px solid var(--primary-two);
  border-radius: 0px; */
  padding-top: 13px;
}

.form-input::placeholder {
  /* font-weight: bold; */
  opacity: 0.4;
  color: #000;
  font-size: 1rem;
  margin: 5rem;
  padding-top: 4rem;
}
.signup-img-input {
  /* border: 1px solid; */
  /* margin-top: 0.3rem; */
  /* margin-left: 0.5rem; */
}

.form-p {
  text-align: center;
  font-size: 1.3rem;
  font-family: var(--primary-font-one);
  margin-bottom: 0.5rem;
}
.form-label {
  font-family: var(--primary-font-one);
  font-size: 1rem;
  display: block;
  /* border: 1px solid; */
  margin-bottom: 5px;
  margin-left: 0.1rem;
  text-indent: 5px;
  font-weight: 600;
  /* color: var(--primary-two); */
  color: #1f1d1d;
}
.form-control {
  margin-bottom: 11px;
}
.form-btn-container {
  display: flex;
  justify-content: end;
  margin-top: 1.7rem;
}
.signup-btn {
  background-color: var(--primary-two);
  border: none;
  color: #fff;
  font-size: 1.3rem;
  font-family: var(--primary-font-one);
  padding: 0.4rem 0.1rem;
  border-radius: 44px;
  cursor: pointer;
  width: 90px;
}

.admin-dash {
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .admin-dash {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

.admin-box {
  /* border: 1px solid red; */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}


.admin-icon{
  /* border: 1px solid; */
  font-size: 3rem;
}

.admin-manage-section {
  /* border: 1px solid red; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  /* overflow: hidden; */
}

/* > direct children */
.admin-col {
  min-height: 70vh;
  /* border: 1px solid; */
  /* box-shadow: var(--box-shadow); */
  border-radius: 0.3rem;
  padding: 1rem;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1), -1px -2px 15px rgba(0, 0, 0, 0.1);
}

.users-container {
  /* border: 1px solid; */
  overflow: scroll;
  height: 70vh;
}

.view-users-div {
  /* border: 1px solid; */
  position: relative;
}

.view-users-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #a62b1f;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font-one);
  color: #fff;
  font-weight: 700;
  border-radius: 35%;
}

.admin-form-group {
  margin-bottom: 3px;
}
.admin-input {
  width: 100%;
  height: 35px;
  font-family: var(--primary-font-one);
  font-size: 1.2rem;
  padding: 0.8rem;
  border: none;
  outline: none;
  border: 0.1px solid var(--secondary-one);
  border-radius: 5px;
}
.admin-btn-container {
  margin: 0.3rem 0;
}
.admin-submit-btn {
  font-size: 1.3rem;
  border: none;
  background-color: var(--secondary-one);
  color: #fff;
  padding: 0.7rem;
  border-radius: 6px;
  cursor: pointer;
}

.user-card {
  /* border: 1px solid; */
  min-height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 0.8rem;
  gap: 4px;
  border-bottom: 1px dashed;
  padding: 1rem;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.small-text-div {
  padding: 1rem;
}

.small-card-p {
  font-family: var(--primary-font-one);
}

.user-card > div {
  /* border: 0.1px solid; */
  border-radius: 5px;
}
.claims-form-admin {
  margin-top: 3rem;
}

.admin-checkbox {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.admin-check-label span {
  font-family: var(--primary-font-one);
  font-size: 1.2rem;
  font-weight: 700;
}
.admin-check-label {
  display: flex;
  align-items: center;
  /* border: 1px solid; */
}

.check-all-div {
  margin-bottom: 2rem;
}

.update-user-profile-form {
  margin-top: 2rem;
}

@media screen and (max-width: 1350px) {
  .admin-manage-section {
    /* border: 1px solid red; */
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .admin-manage-section {
    grid-template-columns: 1fr;
  }
}

.temp-form {
  margin: 9rem auto;
  border-radius: 0.6rem;
  max-width: 500px;
}

/* input[type='file']  {

  background-color: red;
} */

.file-input::file-selector-button {
  border: none;
  background-color: #d33e20;
  color: #fff;
  padding: 0.4rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  cursor: pointer;
  /* width: 100%; */
}

.loader-p {
  background-color: #ccc;
  height: 0.6rem;
  margin-bottom: 0.5rem;
  border-radius: 50px;
}

.loader-img {
  background-color: #ccc;
  height: 70px;
  width: 70px;
}

.loader-p:nth-child(2) {
  width: 80%;
}

.loader-p:last-child {
  width: 40%;
}

.skeleton {
  border-bottom: none;
}

.skeleton-element {
  animation: skeleton-load 1s linear infinite alternate;
}

@keyframes skeleton-load {
  0% {
    background-color: #c09999;
  }

  100% {
    background-color: #ccc;
  }
}

.admin-alert {
  padding: 0.7rem;
  text-align: center;
  /* border: 1px solid; */
  background-color: #ba544b;
  /* background-color: #a60a33; */

  color: #fff;
  margin-bottom: 5px;
}

.admin-alert-success {
  background-color: #1c646d;
}

.admin-alert h3 {
  font-family: var(--primary-font-one);
}
.delete-user-alert {
  display: flex;
  padding: 0.7rem;
  /* border: 1px solid; */
  background-color: #ba544b;
  /* background-color: #a60a33; */
  color: #fff;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primary-font-one);
}

.delete-user-btn {
  background-color: #fff;
  border: none;
  font-family: var(--primary-font-one);
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 30px;
  cursor: pointer;
  margin: 0 4px;
}

.section-profile-grid {
  /* border: 1px solid; */
  /* height: 50vh; */
  max-width: 1300px;
  margin: auto;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: var(--box-shadow);
  margin-top: 5rem;
  padding: 2rem;
}

.profile-box {
  /* border: 1px solid; */
  height: 100%;
}
.user-control-btn {
  border: none;
  background-color: #b23939;
  font-size: 1.1rem;
  color: #fff;
  font-family: var(--primary-font-one);
  padding: 0.5rem;
  cursor: pointer;
}

.user-info-div {
  /* border: 1px solid; */
  font-family: var(--primary-font-one);
  margin-top: 1rem;
  position: relative;
}
.user-info-div p span {
  /* font-weight: 600; */
  font-size: 1.2rem;
  /* display: block; */
}
.user-p-span {
  font-weight: 700;
  margin-right: 1rem;
}

.profile-page-img {
  position: absolute;
  top: -5.5rem;
  left: -1.2rem;
  border-radius: 5%;
  width: 90px;
  margin-bottom: 1.2rem;
}

.user-info-p {
  border-bottom: 0.1px dashed;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.user-stats-div {
  /* border: 1px solid; */
  display: flex;
  /* align-items: center; */
  border-bottom: 0.1px dashed;
}

.user-stats-p {
  /* border: .1px solid; */
  cursor: default;
  width: 100%;
  font-family: var(--primary-font-one);
  padding: 0.5rem;
  font-size: 1rem;
}
.user-stats-p:nth-child(1) {
  /* border: 1px solid red; */
  width: 100%;
  text-align: right;
}
.user-stats-p:nth-child(2) {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  text-align: left;
}
.user-cross {
  font-size: 1rem;
  margin-top: 3px;
}
.user-chceck {
  color: #1c646d;
  margin-top: 3px;
}

@media screen and (max-width: 1300px) {
  .section-profile-grid {
    grid-template-columns: 1fr;
    margin: 1.7rem;
  }
}

.signin-form {
  padding: 1.4rem;
}

.signin-form-control {
  margin: 0.4rem 0;
}
.reset-password-btn {
  border: none;
  font-family: var(--primary-font-one);
  color: #fff;
  background-color: #a60a33;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.2rem 0 0 0;
}

.sign-in-img {
  width: 100px;
  border-radius: 10px;
}
.form-sub-container {
  /* border: 1px solid; */
  margin-top: 0.6rem;
}
.form-sub-link {
  /* text-decoration: none; */
  display: block;
  margin-left: 0.1rem;
  font-family: var(--primary-font-one);
  font-weight: 700;
  color: #000;
  margin-top: 0.1rem;
}

.user-alert {
  border: 1px solid;
  text-align: center;
  padding: 1rem;
  font-family: var(--primary-font-one);
  font-weight: 600;
  font-size: 1.1rem;
  background-color: var(--warning);
  color: #fff;
  margin-bottom: 8px;
  border-radius: 0.4rem;
}
.home-image-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
}

.home-page-header-div {
  /* border: 1px solid; */
  margin: 4rem 0;
}

.user-info-home-div {
  margin-top: 3rem;
}
.user-info-home-p {
  text-align: center;
  font-family: var(--primary-font-one);
  font-size: 1.4rem;
}

.user-info-home-p span {
  position: relative;
}

.user-info-home-p span::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: red;
  border-radius: 10px;
}

.test-btn-wrap {
  display: flex;
  justify-self: end;
}

.test-btn {
  background: #2c325a;
  border: none;
  font-size: 1rem;
  padding: 0.4rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  display: grid;
  --mask: radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  animation: l1 1s infinite alternate;
}
.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
}
.loader:after {
  margin-left: auto;
}
@keyframes l1 {
  to {
    width: 40px;
  }
}

.test-btn-inner-wrap {
  display: flex;
  align-items: center;
}

.test-btn-inner-wrap p {
  margin-right: .5rem;
}
